.post {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: auto;
    display: flex;
}

.post-feed {
    width: 50%;
    height: 100%;
}

.post-detail {
    padding-top: 0;
}

.options {
    margin-right: 20px;
}

/* this is to account for not having a scrollbar */
.navbar {
   margin-left: -7.5px;
}

.post-image {
    width: 550px;
    height: 500px;
    object-fit: cover;
}

.comment-btn {
    padding-left: 100px;
}

.comments {
    margin-top: 20px;
}

.comments .info {
    display: flex;
    flex-direction: column;
}

.comments .info .profile-pic {
    height: 25px;
    width: 25px;
    margin-bottom: 30px;
    padding: 0;
    background: none;
}

.comments .info .username {
    width: auto;
    font-weight: bold;
    color: #000;
    padding-left: 10px;
    font-size: 14px;
    margin: 0px 50px -10px 0px; /*  top right bottom left */
}

.comments .info .user {
    margin-bottom: 5px;
}

.user-info {
    width: 200px;
    display: flex;
}

.user-info p {
    display: inline-block;
}

.user-info .post-time {
    margin: 1.4px 0px 0px -40px; /*  top right bottom left */
  }

.comments .info .comment {
    width: 500px;
    color: rgba(0,0,0,0,5);
    font-size: 12px;
    margin: 20px 30px 5px 10px; /*  top right bottom left */
}

.feed {
    position: relative;
    width: 800px;
    height: 500px;
    padding-bottom: 20px;
    padding-left: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.likes {
    margin-top: 20px;
}

.trash-can {
    width: 15px;
    margin-top: 10px;
    margin-left: -20px;
}

.comment-box {
    width: 473px;
    outline: none;
    font-size: 14px;
}

.reaction-wrapper {
    margin-top: 20px;
    margin-left: 20px;
}

.comment-wrapper {
    margin-left: -17px;
    width: 720px;
}

.post-content {
    width: 584px;
}
